.p-panel-container {
    margin-bottom: 15px;
}
.btn-filter-submit-container {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 48px;
}
.btn-filter-submit-container button {
    width: fit-content;
}
.tableRow {
    cursor: pointer;
}

::ng-deep .p-panel .p-panel-icons-end {
    margin: unset;
}
