<p-toast></p-toast>

<p-panel [header]="'Filter' | translate" [toggleable]="true" [collapsed]="true">
    <form
        class="p-fluid"
        method="post"
        [formGroup]="filterForm"
        (submit)="submitForm(filterForm)">


        <div class="field col-4">
            <label htmlFor="selectEmployee">{{
                "Select Employee" | translate
            }}</label>
            <p-dropdown
                [(ngModel)]="selectedEmployee"
                [options]="dropdownItemsEmployee"
                optionLabel="name"
                [placeholder]="'Select Employee' | translate"
            ></p-dropdown>
        </div>

        <div class="field col-4">
            <label htmlFor="location">{{ "Location" | translate }}</label>
            <p-dropdown
                [options]="locationDropDown"
                [(ngModel)]="selectedLocation"
                (onChange)="onChangeLocation()"
                optionLabel="name"
                [placeholder]="'Select a Location' | translate"
                [showClear]="true"
            ></p-dropdown>
        </div>

    </form>
</p-panel>

<p-dialog
    [(visible)]="showFormNew"
    [style]="{ width: '450px' }"
    [header]="'Add New' | translate"
    [modal]="true"
    class="p-fluid"
>
    <ng-template pTemplate="content">
        <div class="field">
            <label htmlFor="selectEmployee">{{
                "Select Employee" | translate
            }}</label>
            <p-dropdown
                [(ngModel)]="selectedEmployee"
                [options]="dropdownItemsEmployee"
                optionLabel="name"
                [placeholder]="'Select Employee' | translate"
            ></p-dropdown>
        </div>

        <div class="field">
            <label htmlFor="location">{{ "Location" | translate }}</label>
            <p-dropdown
                [options]="locationDropDown"
                [(ngModel)]="selectedLocation"
                (onChange)="onChangeLocation()"
                optionLabel="name"
                [placeholder]="'Select a Location' | translate"
                [showClear]="true"
            ></p-dropdown>
        </div>

        <div class="field">
            <button
                class="w-25"
                pButton
                [label]="'Insert New' | translate"
                (click)="addNew()"
            ></button>
        </div>
    </ng-template>
</p-dialog>


<p-treeTable
    #dt
    [value]="files"
    [columns]="cols"
    [paginator]="true"
    [rows]="itemsPerPage"
    [rowsPerPageOptions]="[5, 10, 25]"
    [totalRecords]="totalItems"
    [scrollable]="true"
    [lazy]="true"
    (onLazyLoad)="onPageChange($event)"
    [tableStyle]="{'min-width':'50rem'}"
    dataKey="id">
    <ng-template pTemplate="caption">
        <div class="flex justify-content-between align-items-center">
            <h5 class="m-0">{{'Manage Items' | translate}}</h5>
            <div class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                    type="text"
                    pInputText
                    placeholder="Global Search"
                    (input)="loadFilteredData($event.target.value)" />
            </div>
        </div>
    </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [ttSortableColumn]="col.field">
                    {{ col.header }}
                    <p-treeTableSortIcon [field]="col.field" />
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
            <tr [ttRow]="rowNode">
                <td *ngFor="let col of columns; let i = index">
                    <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0" />
                   <span> {{ rowData[col.field]}} </span>
                </td>
            </tr>
        </ng-template>
</p-treeTable>

<p-dialog
    [(visible)]="productDialog"
    [style]="{ width: '450px' }"
    [header]="'Item Details' | translate"
    [modal]="true"
    class="p-fluid"
>
    <ng-template pTemplate="content">
        <div class="field">
            <label htmlFor="Employee">{{
                "Select Employee" | translate
            }}</label>
            <p-dropdown
                [(ngModel)]="selectedEmployeeEdit"
                [options]="dropdownItemsEmployee"
                optionLabel="name"
                [placeholder]="'All Employees' | translate"
                (onChange)="selectedCovenantEditFun($event)"
            ></p-dropdown>
        </div>

        <div class="field">
            <label htmlFor="location">{{ "Location" | translate }}</label>
            <p-dropdown
                [options]="locationDropDown"
                [(ngModel)]="selectedLocationEdit"
                (onChange)="onChangeLocationEdit()"
                optionLabel="name"
                placeholder="{{ 'Select a Location' | translate }}"
                [showClear]="true"
            ></p-dropdown>

            <small
                class="ng-dirty ng-invalid"
                *ngIf="submitted && !product.locationId"
                >{{ "location is required." | translate }}</small
            >
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            [label]="'Cancel' | translate"
            icon="pi pi-times"
            class="p-button-text"
            (click)="hideDialog()"
        ></button>
        <button
            pButton
            pRipple
            [label]="'Save' | translate"
            icon="pi pi-check"
            class="p-button-text"
            (click)="saveProduct(product.id, product)"
        ></button>
    </ng-template>
</p-dialog>

<p-dialog
    [(visible)]="deleteProductDialog"
    [header]="'Confirm Delete' | translate"
    [modal]="true"
    [style]="{ width: '450px' }">

    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="product"
            >{{ "Are you sure you want to delete" | translate }}
            <b>{{ product.name }}</b
            >?</span
        >
    </div>
    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            icon="pi pi-times"
            class="p-button-text"
            [label]="'No' | translate"
            (click)="deleteProductDialog = false"
        ></button>
        <button
            pButton
            pRipple
            icon="pi pi-check"
            class="p-button-text"
            [label]="'Yes' | translate"
            (click)="confirmDelete(product.id)"
        ></button>
    </ng-template>
</p-dialog>

<p-dialog
    [(visible)]="deleteProductsDialog"
    [header]="'Confirm Delete' | translate"
    [modal]="true"
    [style]="{ width: '450px' }"
>
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>{{
            "Are you sure you want to delete selected products?" | translate
        }}</span>
    </div>
    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            icon="pi pi-times"
            class="p-button-text"
            [label]="'No' | translate"
            (click)="deleteProductsDialog = false"
        ></button>
        <button
            pButton
            pRipple
            icon="pi pi-check"
            class="p-button-text"
            [label]="'Yes' | translate"
            (click)="confirmDeleteSelected()"
        ></button>
    </ng-template>
</p-dialog>
