.lateSettingsList > div {
    margin-block: 24px;
    background-color: #eee;
    padding: 16px;
    border-radius: 16px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.field-checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
}
