<p-toast></p-toast>

<p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
        <div class="my-2">
            <button
                pButton
                pRipple
                [label]="
                    'Add New'.concat(' ', splitCamelCase(endPoint)) | translate
                "
                icon="pi pi-plus"
                class="p-button-info mx-2 px-5"
                (click)="toggleNew()"
            ></button>

            <button
                pButton
                pRipple
                [label]="'Delete' | translate"
                icon="pi pi-trash"
                class="p-button-danger mx-2 px-5"
                (click)="deleteSelectedProducts()"
                [disabled]="!selectedItems || !selectedItems.length"
            ></button>
        </div>
    </ng-template>
    <ng-template pTemplate="right">
        <button
            pButton
            pRipple
            [label]="'Export' | translate"
            icon="pi pi-upload"
            class="p-button-help mx-2 px-5"
            pTooltip="CSV"
            (click)="exportCSV()"
            [disabled]="!selectedItems || !selectedItems.length"
        ></button>
    </ng-template>
</p-toolbar>

<p-dialog
    [(visible)]="showFormNew"
    [style]="{ width: '450px' }"
    [header]="'Add New' | translate"
    [modal]="true"
    class="p-fluid"
>
    <ng-template pTemplate="content">
        <form [formGroup]="addNewForm">
            <div class="field">
                <label htmlFor="ContractType">{{
                    "Covenant Type" | translate
                }}</label>
                <p-dropdown
                    [(ngModel)]="selectedCovenant"
                    formControlName="covenantId"
                    [options]="dropdownItemsCovenantType"
                    optionLabel="name"
                    [placeholder]="'Enter Covenant Type' | translate"
                    (onChange)="selectCovenant($event)"
                ></p-dropdown>
            </div>

            <div class="field">
                <label htmlFor="selectEmployee">{{
                    "Select Employee" | translate
                }}</label>
                <p-dropdown
                    [(ngModel)]="selectedEmployee"
                    [options]="dropdownItemsEmployee"
                    optionLabel="name"
                    formControlName="employeeId"
                    [placeholder]="'Select Employee' | translate"
                ></p-dropdown>
            </div>

            <div class="field">
                <label htmlFor="name-ar">{{ "Date" | translate }} </label>
                <p-calendar
                    [showIcon]="true"
                    [iconDisplay]="'input'"
                    name="date"
                    inputId="date"
                    formControlName="date"
                    [(ngModel)]="date"
                    [placeholder]="'Enter Date Here' | translate"
                ></p-calendar>
            </div>

            <div class="field">
                <label htmlFor="numberOfHours">{{ "Cost" | translate }}</label>

                <input
                    pInputText
                    [(ngModel)]="cost"
                    formControlName="cost"
                    [placeholder]="'Enter Cost Here' | translate"
                    id="Cost"
                    type="number"
                />
            </div>

            <div class="field">
                <label htmlFor="new-notes">{{ "Notes" | translate }}</label>
                <textarea
                    pInputTextarea
                    [(ngModel)]="notes"
                    formControlName="notes"
                    id="new-notes"
                    [placeholder]="'Enter Notes Here' | translate"
                    type="text"
                ></textarea>
            </div>

            <div class="field">
                <button
                    class="w-25"
                    pButton
                    [disabled]="!addNewForm.valid"
                    [label]="'Insert New' | translate"
                    (click)="addNew()"
                ></button>
            </div>
        </form>

    </ng-template>
</p-dialog>

<p-table
    #dt
    [value]="allData"
    [paginator]="true"
    [rows]="itemsPerPage"
    [columns]="cols"
    [totalRecords]="totalItems"
    selectionMode="multiple"
    [(selection)]="selectedItems"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [lazy]="true"
    (onLazyLoad)="onPageChange($event)"
    dataKey="id"
>
    <ng-template pTemplate="content">
        <div class="field col-12">
            <label htmlFor="ContractType">{{
                "Covenant Type" | translate
            }}</label>
            <p-dropdown
                [(ngModel)]="selectedCovenant"
                [options]="dropdownItemsCovenantType"
                optionLabel="name"
                [placeholder]="'Enter Covenant Type' | translate"
            ></p-dropdown>
        </div>

        <div class="field">
            <label htmlFor="name-ar"> {{ "Date" | translate }} </label>

            <p-calendar
                [showIcon]="true"
                [iconDisplay]="'input'"
                name="date"
                inputId="date"
                [(ngModel)]="date"
                [placeholder]="'Date' | translate"
            ></p-calendar>
        </div>

        <div class="field">
            <label htmlFor="numberOfHours">{{ "Cost" | translate }}</label>

            <input
                pInputText
                [(ngModel)]="cost"
                [placeholder]="'Enter Cost here' | translate"
                id="Cost"
                type="number"
            />
        </div>

        <div class="field">
            <label htmlFor="new-notes">{{ "Notes" | translate }}</label>
            <textarea
                pInputTextarea
                [(ngModel)]="notes"
                id="new-notes"
                [placeholder]="'Enter notes Here' | translate"
                type="text"
            ></textarea>
        </div>

        <div class="field">
            <button
                class="w-25"
                pButton
                [label]="'Insert New' | translate"
                (click)="addNew()"
            ></button>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id" (click)="sortById($event)">
                {{ "Id" | translate }}
                <p-sortIcon field="id"></p-sortIcon>
            </th>
            <th pSortableColumn="name" (click)="sortByName($event)">
                {{ "Name" | translate }} <p-sortIcon field="name"></p-sortIcon>
            </th>

            <th>{{ "Employee Name" | translate }}</th>

            <!-- personal fields -->

            <!-- generic fields -->
            <th>{{ "Date" | translate }}</th>
            <th>{{ "Cost" | translate }}</th>
            <th>{{ "Notes" | translate }}</th>

            <th>{{ "creationTime" | translate }}</th>
            <th>{{ "lastModificationTime" | translate }}</th>
            <th>{{ "creatorName" | translate }}</th>
            <th>{{ "lastModifierName" | translate }}</th>
            <th>{{ "Actions" | translate }}</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData>
        <tr>
            <td>
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td>
                <span class="p-column-title">Id</span>
                {{ rowData.id ? rowData.id : "" }}
            </td>

            <td [ngClass]="{ 'null-color': !rowData.covenantName }">
                <span class="p-column-title">Name</span>
                {{ rowData.covenantName ? rowData.covenantName : "" }}
            </td>

            <td [ngClass]="{ 'null-color': !rowData.employeeName }">
                <span class="p-column-title">employeeName</span>
                {{ rowData.employeeName ? rowData.employeeName : "" }}
            </td>

            <!-- personal fields -->

            <td [ngClass]="{ 'null-color': !rowData.date }">
                <span class="p-column-title">date</span>
                {{ rowData.date  }}
            </td>

            <td [ngClass]="{ 'null-color': !rowData.cost }">
                <span class="p-column-title">cost</span>
                {{ rowData.cost }}
            </td>

            <td [ngClass]="{ 'null-color': !rowData.notes }">
                <span class="p-column-title">notes</span>
                {{ rowData.notes ? rowData.notes : "" }}
            </td>
            <td [ngClass]="{ 'null-color': !rowData.creationTime }">
                <span class="p-column-title">creationTime</span>
                {{ rowData.creationTime | date : "dd/MM/YYYY" }}
            </td>

            <td [ngClass]="{ 'null-color': !rowData.lastModificationTime }">
                <span class="p-column-title">lastModificationTime</span>
                {{ rowData.lastModificationTime | date : "dd/MM/YYYY" }}
            </td>

            <td [ngClass]="{ 'null-color': !rowData.creatorName }">
                <span class="p-column-title">creatorName</span>
                {{ rowData.creatorName ? rowData.creatorName : "" }}
            </td>
            <td [ngClass]="{ 'null-color': !rowData.lastModifierName }">
                <span class="p-column-title">lastModifierName</span>
                {{ rowData.lastModifierName ? rowData.lastModifierName : "" }}
            </td>

            <td>
                <div class="flex crud-operations">
                    <button
                        pButton
                        pRipple
                        icon="pi pi-pencil"
                        class="p-button-rounded p-button-info p-button-outlined mr-2"
                        (click)="editProduct(rowData)"
                    ></button>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-trash"
                        class="p-button-rounded p-button-outlined p-button-danger"
                        (click)="deleteProduct(rowData)"
                    ></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog
    [(visible)]="productDialog"
    [style]="{ width: '450px' }"
    [header]="'Item Details' | translate"
    [modal]="true"
    class="p-fluid"
>
    <ng-template pTemplate="content">
        <form [formGroup]="editForm">
            <div class="field">
                <label htmlFor="ContractType">{{
                    "Covenant Type" | translate
                }}</label>
                <p-dropdown
                    [(ngModel)]="selectedCovenantEdit"
                    [options]="dropdownItemsCovenantType"
                    formControlName="covenantId"
                    optionLabel="name"
                    [placeholder]="'Enter Covenant Type' | translate"
                    (onChange)="selectedCovenantEditFun($event)"
                ></p-dropdown>
            </div>

            <div class="field">
                <label htmlFor="Employee">{{
                    "Select Employee" | translate
                }}</label>
                <p-dropdown
                    [(ngModel)]="selectedEmployeeEdit"
                    [options]="dropdownItemsEmployee"
                    formControlName="employeeId"
                    optionLabel="name"
                    [placeholder]="'All Employees' | translate"
                ></p-dropdown>
            </div>

            <div class="field">
                <label htmlFor="name-ar">{{ "Date" | translate }} </label>

                <p-calendar
                    [showIcon]="true"
                    [iconDisplay]="'input'"
                    name="date"
                    inputId="date"
                    formControlName="date"
                    [(ngModel)]="product.date"
                    [placeholder]="'Enter Date Here' | translate"
                ></p-calendar>
            </div>

            <div class="field">
                <label htmlFor="numberOfHours">{{ "Cost" | translate }}</label>

                <input
                    pInputText
                    [(ngModel)]="product.cost"
                    formControlName="cost"
                    [placeholder]="'Enter Cost Here' | translate"
                    id="Cost"
                    type="number"
                />
            </div>

            <div class="field">
                <label htmlFor="new-notes">{{ "Notes" | translate }}</label>
                <textarea
                    pInputTextarea
                    [(ngModel)]="product.notes"
                    formControlName="notes"
                    id="new-notes"
                    [placeholder]="'Enter Notes Here' | translate"
                    type="text"
                ></textarea>
            </div>

            <div class="field form-footer">
                <button
                pButton
                pRipple
                [label]="'Cancel' | translate"
                icon="pi pi-times"
                type="button"
                class="p-button-text"
                (click)="hideDialog()"
            ></button>
            <button
                pButton
                pRipple
                [label]="'Save' | translate"
                icon="pi pi-check"
                class="p-button-text"
                type="submit"
                (click)="saveProduct(product.id, product)"
            ></button>
            </div>
        </form>
    </ng-template>
</p-dialog>

<p-dialog
    [(visible)]="deleteProductDialog"
    [header]="'Confirm Delete' | translate"
    [modal]="true"
    [style]="{ width: '450px' }"
>
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="product"
            >{{ "Are you sure you want to delete" | translate }}
            <b>{{ product.name }}</b
            >?</span
        >
    </div>
    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            icon="pi pi-times"
            class="p-button-text"
            [label]="'No' | translate"
            (click)="deleteProductDialog = false"
        ></button>
        <button
            pButton
            pRipple
            icon="pi pi-check"
            class="p-button-text"
            [label]="'Yes' | translate"
            (click)="confirmDelete(product.id)"
        ></button>
    </ng-template>
</p-dialog>

<p-dialog
    [(visible)]="deleteProductsDialog"
    [header]="'Confirm Delete' | translate"
    [modal]="true"
    [style]="{ width: '450px' }"
>
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>{{
            "Are you sure you want to delete selected products?" | translate
        }}</span>
    </div>
    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            icon="pi pi-times"
            class="p-button-text"
            [label]="'No' | translate"
            (click)="deleteProductsDialog = false"
        ></button>
        <button
            pButton
            pRipple
            icon="pi pi-check"
            class="p-button-text"
            [label]="'Yes' | translate"
            (click)="confirmDeleteSelected()"
        ></button>
    </ng-template>
</p-dialog>
