<p-toast></p-toast>

<p-toolbar styleClass="mb-4">
    <ng-template pTemplate="right">
        <button
            pButton
            pRipple
            [label]="'Export' | translate"
            icon="pi pi-upload"
            class="p-button-help mx-2 px-5"
            pTooltip="CSV"
            (click)="exportCSV()"
        ></button>
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="allData"
    [paginator]="true"
    [rows]="itemsPerPage"
    [columns]="cols"
    [totalRecords]="totalItems"
    selectionMode="multiple"
    [(selection)]="selectedItems"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [lazy]="true"
    (onLazyLoad)="onPageChange($event)"
    dataKey="id"
>
    <ng-template pTemplate="caption">
        <div
            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
        >
            <h5 class="m-0">Manage Items</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                    pInputText
                    [(ngModel)]="nameFilter"
                    (input)="loadFilteredData()"
                    id="filter-name"
                    type="text"
                    placeholder="Search..."
                    class="w-full sm:w-auto"
                />
            </span>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th>
                {{ "User Id" | translate }}
            </th>
            <th (click)="sortByName($event)">
                {{ "Employee Name" | translate }}
            </th>

            <!-- personal fields -->
            <th>{{ "Username" | translate }}</th>
            <th>{{ "Email" | translate }}</th>

            <!-- generic fields -->
            <th>{{ "Roles" | translate }}</th>
            <th>{{ "Locked" | translate }}</th>
            <th>{{ "Change Password" | translate }}</th>
            <th>{{ "creationTime" | translate }}</th>
            <th>{{ "lastModificationTime" | translate }}</th>
            <th>{{ "creatorName" | translate }}</th>
            <th>{{ "lastModifierName" | translate }}</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData>
        <tr>
            <td>
                <span class="p-column-title">Id</span>
                {{ rowData.id ? rowData.id : "" }}
            </td>

            <td [ngClass]="{ 'null-color': !rowData.employeeNameAr }">
                <span class="p-column-title">employeeNameAr</span>
                {{ rowData.employeeNameAr ? rowData.employeeNameAr : "" }}
            </td>

            <!-- personal fields -->

            <td [ngClass]="{ 'null-color': !rowData.userName }">
                <span class="p-column-title">UserName</span>
                {{ rowData.userName ? rowData.userName : "" }}
            </td>

            <td [ngClass]="{ 'null-color': !rowData.email }">
                <span class="p-column-title">Email</span>
                {{ rowData.email ? rowData.email : "" }}
            </td>

            <td [ngClass]="{ 'null-color': !rowData.roles }">
                <span class="p-column-title">Roles</span>
                <div class="table-data-container">
                    <div class="roles-container">
                        <span *ngFor="let item of rowData.roles">{{
                            item
                        }}</span>
                    </div>
                    <button
                        pButton
                        pRipple
                        type="button"
                        icon="pi pi-pencil"
                        class="p-button-rounded p-button-outlined p-button-secondary"
                        (click)="editProduct(rowData)"
                    ></button>
                </div>
            </td>

            <td [ngClass]="{ 'null-color': !rowData.isLocked }">
                <span class="p-column-title">Locked</span>
                <div class="lock-container">
                    <p-inputSwitch
                        [(ngModel)]="rowData.isLocked"
                        [disabled]="true"
                    />
                    <button
                        pButton
                        pRipple
                        type="button"
                        icon="pi pi-pencil"
                        class="p-button-rounded p-button-outlined p-button-secondary"
                        (click)="editProductLock(rowData)"
                    ></button>
                </div>
            </td>
            <td>
                <button
                    class="p-button-outlined p-button-secondary changePassBtn"
                    pButton
                    pRipple
                    (click)="changePassword(rowData.id)"
                >
                    Change Password
                </button>
            </td>

            <td [ngClass]="{ 'null-color': !rowData.creationTime }">
                <span class="p-column-title">creationTime</span>
                {{ rowData.creationTime ? rowData.creationTime : "" }}
            </td>

            <td [ngClass]="{ 'null-color': !rowData.lastModificationTime }">
                <span class="p-column-title">lastModificationTime</span>
                {{
                    rowData.lastModificationTime
                        ? rowData.lastModificationTime
                        : ""
                }}
            </td>

            <td [ngClass]="{ 'null-color': !rowData.creatorName }">
                <span class="p-column-title">creatorName</span>
                {{ rowData.creatorName ? rowData.creatorName : "" }}
            </td>
            <td [ngClass]="{ 'null-color': !rowData.lastModifierName }">
                <span class="p-column-title">lastModifierName</span>
                {{ rowData.lastModifierName ? rowData.lastModifierName : "" }}
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog
    [(visible)]="productDialog"
    [style]="{ width: '450px' }"
    header="Product Details"
    [modal]="true"
    class="p-fluid"
>
    <ng-template pTemplate="content">
        <div class="field">
            <label for="name">Roles</label>
            <p-multiSelect
                [options]="rolesDropdown"
                [(ngModel)]="selectedMulti"
                placeholder="Select Roles"
                optionLabel="name"
                class="multiselect-custom"
                display="chip"
                (onChange)="selectMultiItems($event)"
            >
                <ng-template let-role pTemplate="item">
                    <div class="flex align-items-center">
                        <span class="ml-2">{{ role.name }}</span>
                    </div>
                </ng-template>
            </p-multiSelect>
        </div>

        <!-- <div class="field field-closed">
            <label for="notes">Closed</label>
            <p-inputSwitch [(ngModel)]="closed" />
        </div> -->
    </ng-template>

    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            label="Cancel"
            icon="pi pi-times"
            class="p-button-text"
            (click)="hideDialog()"
        ></button>
        <button
            pButton
            pRipple
            label="Save"
            icon="pi pi-check"
            class="p-button-text"
            (click)="saveRoles(product.id)"
        ></button>
    </ng-template>
</p-dialog>

<p-dialog
    [(visible)]="deleteProductDialog"
    header="Confirm"
    [modal]="true"
    [style]="{ width: '450px' }"
>
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="product"
            >Are you sure you want to delete <b>{{ product.name }}</b
            >?</span
        >
    </div>
    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            icon="pi pi-times"
            class="p-button-text"
            label="No"
            (click)="deleteProductDialog = false"
        ></button>
        <button
            pButton
            pRipple
            icon="pi pi-check"
            class="p-button-text"
            label="Yes"
            (click)="confirmDelete(product.id)"
        ></button>
    </ng-template>
</p-dialog>

<p-dialog
    [(visible)]="deleteProductsDialog"
    header="Confirm"
    [modal]="true"
    [style]="{ width: '450px' }"
>
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Are you sure you want to delete selected products?</span>
    </div>
    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            icon="pi pi-times"
            class="p-button-text"
            label="No"
            (click)="deleteProductsDialog = false"
        ></button>
        <button
            pButton
            pRipple
            icon="pi pi-check"
            class="p-button-text"
            label="Yes"
            (click)="confirmDeleteSelected()"
        ></button>
    </ng-template>
</p-dialog>

<p-dialog
    [(visible)]="changePassDialog"
    [style]="{ width: '450px' }"
    header="Product Details"
    [modal]="true"
    class="p-fluid"
>
    <form
        [formGroup]="changePassForm"
        (submit)="submitChangePassForm(userId, changePassForm)"
    >
        <div class="field">
            <label for="name">Password</label>
            <input
                pInputText
                [(ngModel)]="newPassword"
                type="text"
                formControlName="password"
                placeholder="Enter New Password"
            />
        </div>

        <div class="field">
            <label for="name">Confirm Password</label>
            <input
                pInputText
                [(ngModel)]="rePassword"
                type="text"
                formControlName="rePassword"
                placeholder="Confirm New Password"
            />
        </div>
        <div class="actions">
            <button
                pButton
                pRipple
                label="Cancel"
                type="button"
                icon="pi pi-times"
                class="p-button-text"
                (click)="hideDialogPassword()"
            ></button>
            <button
                pButton
                pRipple
                label="Save"
                icon="pi pi-check"
                class="p-button-text"
            ></button>
        </div>
    </form>
</p-dialog>
<p-dialog
    [(visible)]="productLockDialog"
    [style]="{ width: '450px' }"
    header="Product Details"
    [modal]="true"
    class="p-fluid"
>
    <ng-template pTemplate="content">
        <div class="field locked-container">
            <label for="name">Locked</label>
            <div class="field field-locked">
                <p-inputSwitch [(ngModel)]="locked" />
            </div>
        </div>

        <!-- <div class="field field-closed">
            <label for="notes">Closed</label>
            <p-inputSwitch [(ngModel)]="closed" />
        </div> -->
    </ng-template>

    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            label="Cancel"
            icon="pi pi-times"
            class="p-button-text"
            (click)="hideDialogLock()"
        ></button>
        <button
            pButton
            pRipple
            label="Save"
            icon="pi pi-check"
            class="p-button-text"
            (click)="saveLock(product.id)"
        ></button>
    </ng-template>
</p-dialog>
