<p-toast></p-toast>
<p-panel [header]="'Filter' | translate" [toggleable]="true" [collapsed]="true">
    <form method="post" [formGroup]="filterForm" (submit)="submitForm(filterForm)">
        <div class="grid">
            <div class="col-12">
                <div class="card">
                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-12 md:col-4">
                            <label htmlFor="government">{{
                                "Employee" | translate
                                }}</label>
                            <p-dropdown [options]="dropdownItemsEmployees" optionValue="id" optionLabel="name"
                                formControlName="EmployeeId" [(ngModel)]="selectedEmployee" [placeholder]="
                                    'Enter Employee Name Here' | translate
                                "></p-dropdown>
                        </div>

                        <div class="field col-12 md:col-3">
                            <label htmlFor="from">
                                {{ "From" | translate }}</label>
                            <p-calendar [showIcon]="true" [iconDisplay]="'input'" inputId="from"
                                formControlName="DateFrom" [placeholder]="'From' | translate"></p-calendar>
                        </div>

                        <div class="field col-12 md:col-3">
                            <label htmlFor="to"> {{ "To" | translate }}</label>
                            <p-calendar [showIcon]="true" [iconDisplay]="'input'" inputId="to" formControlName="DateTo"
                                [placeholder]="'To' | translate"></p-calendar>
                        </div>

                        <div class="field col-12 md:col-3">
                            <label htmlFor="Religin">{{
                                "Manager" | translate
                                }}</label>
                            <p-dropdown formControlName="MangerId" [options]="dropdownItemsManagers" optionValue="id"
                                optionLabel="name" [(ngModel)]="selectedManager" [placeholder]="
                                    'Enter Manager Name Here' | translate
                                "></p-dropdown>
                        </div>

                        <div class="field col-12 md:col-3">
                            <label htmlFor="RequestType">{{
                                "Response Type" | translate
                                }}</label>
                            <p-dropdown optionValue="id" formControlName="RequestType"
                                [options]="dropdownItemsRequestTypes" optionLabel="name"
                                [(ngModel)]="selectedRequstType" [placeholder]="
                                    'Enter Response Type Here' | translate
                                "></p-dropdown>
                        </div>

                        <div class="btn-filter-submit-container">
                            <div class="field">
                                <button pButton type="submit">
                                    <i class="pi pi-filter"></i>
                                    <span> {{ "Filter" | translate }} </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</p-panel>

<p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
        <div class="my-2">
            <button pButton pRipple [label]="
                    'Add New'.concat(' ', splitCamelCase(endPoint)).trim()
                        | translate
                " icon="pi pi-plus" class="p-button-info mx-2 px-5" (click)="toggleNew()"></button>

            <button pButton pRipple [label]="'Delete' | translate" icon="pi pi-trash" class="p-button-danger mx-2 px-5"
                (click)="deleteSelectedProducts()" [disabled]="!selectedItems || !selectedItems.length"></button>
        </div>
    </ng-template>
    <ng-template pTemplate="right">
        <button pButton pRipple [label]="'Export' | translate" icon="pi pi-upload" class="p-button-help mx-2 px-5"
            pTooltip="CSV" (click)="exportCSV()" [disabled]="!selectedItems || !selectedItems.length"></button>
    </ng-template>
</p-toolbar>

<p-dialog [(visible)]="showFormNew" [style]="{ width: '450px' }" [header]="'Add New'|translate" [modal]="true"
    class="p-fluid">
    <form [formGroup]="addNewForm" (submit)="addNew(addNewForm)">
        <div class="field">
            <label htmlFor="name-en">{{ "Employee Name" | translate }} </label>
            <p-dropdown [options]="dropdownItemsEmployees" optionLabel="name" [(ngModel)]="newEmplyeeId"
                [placeholder]="'Enter Employee Name Here' | translate" formControlName="employeeId"></p-dropdown>
        </div>

        <div class="field">
            <label htmlFor="name-en">{{ "Mission Type" | translate }} </label>
            <p-dropdown [options]="dropdownItemsMissionTypes" optionLabel="name" [(ngModel)]="newMissonTypeId"
                [placeholder]="'Enter Mission Type Here' | translate" formControlName="missionType"></p-dropdown>
        </div>

        <div class="field">
            <label htmlFor="name-ar">{{ "Date From" | translate }} </label>

            <p-calendar [showIcon]="true" [iconDisplay]="'input'" name="dateFrom" inputId="dateFrom"
                [placeholder]="'From' | translate" formControlName="fromDay"></p-calendar>
        </div>

        <div class="field">
            <label htmlFor="name-ar">{{ "Date To" | translate }} </label>

            <p-calendar [showIcon]="true" [iconDisplay]="'input'" name="dateTo" inputId="dateTo"
                [placeholder]="'To' | translate" formControlName="toDay"></p-calendar>
        </div>

        <div class="field">
            <label htmlFor="numberOfHours">{{ "Location" | translate }}</label>

            <input pInputText [(ngModel)]="location" [placeholder]="'Enter Location Here' | translate" id="location"
                type="text" formControlName="location" />
        </div>

        <div class="field">
            <label htmlFor="new-notes">{{ "Reason" | translate }}</label>
            <textarea pInputTextarea [(ngModel)]="reason" id="new-notes" [placeholder]="'Enter Reason Here' | translate"
                type="text" formControlName="reason"></textarea>
        </div>

        <div class="field">
            <button class="w-25" pButton [label]="'Insert New' | translate" type="submit"
                [disabled]="addNewForm.invalid"></button>
        </div>
    </form>
</p-dialog>

<p-table #dt [value]="allData" [paginator]="true" [rows]="itemsPerPage" [columns]="cols" [totalRecords]="totalItems"
    selectionMode="multiple" [(selection)]="selectedItems" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [lazy]="true"
    (onLazyLoad)="onPageChange($event)" dataKey="id">
    <ng-template pTemplate="caption">
        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">{{ "Manage Items" | translate }}</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText [(ngModel)]="nameFilter" (input)="loadFilteredData()" id="filter-name" type="text"
                    placeholder="Search..." class="w-full sm:w-auto" />
            </span>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id" (click)="sortById($event)">
                {{ "Id" | translate }}
                <p-sortIcon field="id"></p-sortIcon>
            </th>
            <th pSortableColumn="name" (click)="sortByName($event)">
                {{ "Name" | translate }}
                <p-sortIcon field="employeeName"></p-sortIcon>
            </th>

            <!-- personal fields -->

            <!-- generic fields -->
            <th>{{ "Day Count" | translate }}</th>
            <th>{{ "Date From" | translate }}</th>
            <th>{{ "Date To" | translate }}</th>
            <th>{{ "Misson Type" | translate }}</th>
            <th>{{ "Respone" | translate }}</th>
            <th>{{ "Location" | translate }}</th>

            <th>{{ "creationTime" | translate }}</th>
            <th>{{ "lastModificationTime" | translate }}</th>
            <th>{{ "creatorName" | translate }}</th>
            <th>{{ "lastModifierName" | translate }}</th>
            <th>{{ "Actions" | translate }}</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData>
        <tr>
            <td>
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td>
                <span class="p-column-title">Id</span>
                {{ rowData.id ? rowData.id : "" }}
            </td>

            <td [ngClass]="{ 'null-color': !rowData.employeeName }">
                <span class="p-column-title">Name</span>
                {{ rowData.employeeName ? rowData.employeeName : "" }}
            </td>

            <!-- personal fields -->
            <td style="min-width: 100px" [ngClass]="{ 'null-color': !rowData.dayCount }">
                <span class="p-column-title">dayCount</span>
                {{ rowData.dayCount ? rowData.dayCount : "" }}
            </td>

            <td [ngClass]="{ 'null-color': !rowData.fromDay }">
                <span class="p-column-title">fromDay</span>
                {{ rowData.fromDay | date : "dd/MM/YYYY" }}
            </td>

            <td [ngClass]="{ 'null-color': !rowData.toDay }">
                <span class="p-column-title">toDay</span>
                {{ rowData.toDay | date : "dd/MM/YYYY" }}
            </td>

            <td style="min-width: 140px" [ngClass]="{ 'null-color': !rowData.missionTypeName }">
                <span class="p-column-title">missionTypeName</span>
                {{ rowData.missionTypeName }}
            </td>

            <td [ngClass]="{
                    'accepted-request': rowData?.requestType == 1,
                    'rejected-request': rowData?.requestType == 2,
                    'pending-request': rowData?.requestType == 0
                }">
                <span> {{ rowData.requestTypeValue }} </span>
            </td>

            <td [ngClass]="{ 'null-color': !rowData.location }">
                <span class="p-column-title">location</span>
                {{ rowData.location ? rowData.location : "" }}
            </td>
            <td [ngClass]="{ 'null-color': !rowData.creationTime }">
                <span class="p-column-title">creationTime</span>
                {{ rowData.creationTime ? rowData.creationTime : "" }}
            </td>

            <td [ngClass]="{ 'null-color': !rowData.lastModificationTime }">
                <span class="p-column-title">lastModificationTime</span>
                {{
                rowData.lastModificationTime
                ? rowData.lastModificationTime
                : ""
                }}
            </td>

            <td [ngClass]="{ 'null-color': !rowData.creatorName }">
                <span class="p-column-title">creatorName</span>
                {{ rowData.creatorName ? rowData.creatorName : "" }}
            </td>
            <td [ngClass]="{ 'null-color': !rowData.lastModifierName }">
                <span class="p-column-title">lastModifierName</span>
                {{ rowData.lastModifierName ? rowData.lastModifierName : "" }}
            </td>

            <td>
                <div class="flex crud-operations">
                    <button [disabled]="rowData.requestType !== 0" pButton pRipple icon="pi pi-trash"
                        class="p-button-rounded p-button-outlined p-button-danger"
                        (click)="deleteProduct(rowData)"></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="productDialog" [style]="{ width: '450px' }" header="Product Details" [modal]="true"
    class="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label htmlFor="name-en">{{ "Course Name" | translate }} </label>
            <input pInputText [(ngModel)]="product.courseName" [placeholder]="'Enter Course Name Here' | translate"
                id="name-en" type="text" required autofocus />
        </div>

        <div class="field">
            <label htmlFor="name-ar">{{ "Date From" | translate }} </label>

            <p-calendar [showIcon]="true" [iconDisplay]="'input'" name="dateFrom" inputId="dateFrom"
                [(ngModel)]="product.dateFrom" [placeholder]="'From' | translate"></p-calendar>
        </div>

        <div class="field">
            <label htmlFor="name-ar">{{ "Date To" | translate }} </label>

            <p-calendar [showIcon]="true" [iconDisplay]="'input'" name="dateTo" inputId="dateTo"
                [(ngModel)]="product.dateTo" [placeholder]="'To' | translate"></p-calendar>
        </div>

        <div class="field">
            <label htmlFor="numberOfHours">{{ "Location" | translate }}</label>

            <input pInputText [(ngModel)]="product.location" [placeholder]="'Enter Location Here' | translate"
                id="location" type="text" />
        </div>

        <div class="field">
            <label htmlFor="new-notes">{{ "Discription" | translate }}</label>
            <textarea pInputTextarea [(ngModel)]="product.discription" id="new-notes"
                [placeholder]="'Enter Discription Here' | translate" type="text"></textarea>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple [label]="'Cancel' | translate" icon="pi pi-times" class="p-button-text"
            (click)="hideDialog()"></button>
        <button pButton pRipple [label]="'Save' | translate" icon="pi pi-check" class="p-button-text"
            (click)="saveProduct(product.id, product)"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{ width: '450px' }">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="product">Are you sure you want to delete <b>{{ product.name }}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
            (click)="deleteProductDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
            (click)="confirmDelete(product)"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{ width: '450px' }">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Are you sure you want to delete selected products?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
            (click)="deleteProductsDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
            (click)="confirmDeleteSelected()"></button>
    </ng-template>
</p-dialog>