<p-toast></p-toast>
<p-panel [header]="'Filter' | translate" [toggleable]="true" [collapsed]="true">
    <form
        method="post"
        [formGroup]="filterForm"
        (submit)="submitForm(filterForm)"
    >
        <div class="grid">
            <div class="col-12">
                <div class="card">
                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-12 md:col-4">
                            <label htmlFor="government">{{
                                "Employee" | translate
                            }}</label>
                            <p-dropdown
                                [options]="dropdownItemsEmployees"
                                optionLabel="name"
                                formControlName="EmployeeId"
                                [(ngModel)]="selectedEmployee"
                                [placeholder]="
                                    'Enter Employee Name Here' | translate
                                "
                            ></p-dropdown>
                        </div>

                        <div class="field col-12 md:col-3">
                            <label htmlFor="RequestType">{{
                                "Location" | translate
                            }}</label>
                            <p-dropdown
                                formControlName="LocationId"
                                [options]="dropdownItemsVacationTypes"
                                optionLabel="name"
                                [(ngModel)]="selectedVacationType"
                                [placeholder]="
                                    'Enter Location Here' | translate
                                "
                            ></p-dropdown>
                        </div>

                        <div class="field col-12 md:col-3">
                            <label htmlFor="from">
                                {{ "From" | translate }}</label
                            >
                            <p-calendar
                                [showIcon]="true"
                                [iconDisplay]="'input'"
                                inputId="from"
                                formControlName="DateFrom"
                                [placeholder]="'From' | translate"
                            ></p-calendar>
                        </div>

                        <div class="field col-12 md:col-3">
                            <label htmlFor="to"> {{ "To" | translate }}</label>
                            <p-calendar
                                [showIcon]="true"
                                [iconDisplay]="'input'"
                                inputId="to"
                                formControlName="DateTo"
                                [placeholder]="'To' | translate"
                            ></p-calendar>
                        </div>

                        <div class="field col-12 md:col-3">
                            <label htmlFor="Religin">{{
                                "Manager" | translate
                            }}</label>
                            <p-dropdown
                                formControlName="MangerId"
                                [options]="dropdownItemsManagers"
                                optionLabel="name"
                                [(ngModel)]="selectedManager"
                                [placeholder]="
                                    'Enter Manager Name Here' | translate
                                "
                            ></p-dropdown>
                        </div>

                        <div class="btn-filter-submit-container">
                            <div class="field">
                                <button pButton type="submit">
                                    <i class="pi pi-filter"></i>
                                    <span> {{ "Filter" | translate }} </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</p-panel>
<p-toolbar styleClass="mb-4">
    <ng-template pTemplate="right">
        <button
            pButton
            pRipple
            [label]="'Export' | translate"
            icon="pi pi-upload"
            class="p-button-help mx-2 px-5"
            pTooltip="CSV"
            (click)="exportCSV()"
            [disabled]="!selectedItems || !selectedItems.length"
        ></button>
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="allData"
    [paginator]="true"
    [rows]="itemsPerPage"
    [columns]="cols"
    [totalRecords]="totalItems"
    selectionMode="multiple"
    [(selection)]="selectedItems"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [lazy]="true"
    (onLazyLoad)="onPageChange($event)"
    dataKey="id"
>
    <ng-template pTemplate="caption">
        <div
            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
        >
            <h5 class="m-0">{{ "Manage Items" | translate }}</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                    pInputText
                    [(ngModel)]="nameFilter"
                    (input)="loadFilteredData()"
                    id="filter-name"
                    type="text"
                    [placeholder]="'Search...' | translate"
                    class="w-full sm:w-auto"
                />
            </span>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id" (click)="sortById($event)">
                {{ "Id" | translate }}
                <p-sortIcon field="id"></p-sortIcon>
            </th>
            <th pSortableColumn="name" (click)="sortByName($event)">
                {{ "Name" | translate }} <p-sortIcon field="name"></p-sortIcon>
            </th>

            <!-- personal fields -->
            <th>{{ "Notes" | translate }}</th>

            <!-- generic fields -->
            <th>{{ "Date From" | translate }}</th>
            <th>{{ "Date To" | translate }}</th>

            <th>{{ "creationTime" | translate }}</th>
            <th>{{ "lastModificationTime" | translate }}</th>
            <th>{{ "creatorName" | translate }}</th>
            <th>{{ "lastModifierName" | translate }}</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData>
        <tr>
            <td>
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td>
                <span class="p-column-title">Id</span>
                {{ rowData.id ? rowData.id : "" }}
            </td>

            <td [ngClass]="{ 'null-color': !rowData.employeeName }">
                <span class="p-column-title">Name</span>
                {{ rowData.employeeName ? rowData.employeeName : "" }}
            </td>

            <!-- personal fields -->

            <td [ngClass]="{ 'null-color': !rowData.notes }">
                <span class="p-column-title">notes</span>
                {{ rowData.notes ? rowData.notes : "" }}
            </td>

            <td [ngClass]="{ 'null-color': !rowData.dateFrom }">
                <span class="p-column-title">dateFrom</span>
                {{ rowData.dateFrom | date : "dd/MM/YYYY" }}
            </td>

            <td [ngClass]="{ 'null-color': !rowData.dateTo }">
                <span class="p-column-title">dateTo</span>
                {{ rowData.dateTo | date : "dd/MM/YYYY" }}
            </td>

            <td [ngClass]="{ 'null-color': !rowData.creationTime }">
                <span class="p-column-title">creationTime</span>
                {{ rowData.creationTime ? rowData.creationTime : "" }}
            </td>

            <td [ngClass]="{ 'null-color': !rowData.lastModificationTime }">
                <span class="p-column-title">lastModificationTime</span>
                {{
                    rowData.lastModificationTime
                        ? rowData.lastModificationTime
                        : ""
                }}
            </td>

            <td [ngClass]="{ 'null-color': !rowData.creatorName }">
                <span class="p-column-title">creatorName</span>
                {{ rowData.creatorName ? rowData.creatorName : "" }}
            </td>
            <td [ngClass]="{ 'null-color': !rowData.lastModifierName }">
                <span class="p-column-title">lastModifierName</span>
                {{ rowData.lastModifierName ? rowData.lastModifierName : "" }}
            </td>
        </tr>
    </ng-template>
</p-table>
