
::ng-deep html:lang(ar) {

    .p-button {
        gap: 5px;
        flex-direction: row-reverse;
    }

    .flex.crud-operations  {
        $this: &;

        & {
            gap: 5px;
        }

        .p-button {
            gap: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .p-dropdown .p-dropdown-clear-icon {
        right: unset;
        left: 2.357rem;
    }

}

@media (max-width: 767px) {
    $this: &;

    ::ng-deep {
        .p-toolbar .ng-star-inserted {
            width: 100%;
            display: flex !important;
            flex-direction: column;
            gap: 15px;
        }
        .p-toolbar-group-right {
            margin-left: 0.5rem !important;
            margin-right: 0.5rem !important;
        }
    }
}



