
.field-switch
{
    display: flex;
    align-items: center;
    gap: 8px;
}
.field-switch > label 
{
    margin-bottom: 0;
}
.jobRequirements>div
{
    background-color: #eee;
    padding: 16px;
    margin-block: 24px;
}
