<ul class="layout-menu">
    <ng-container *ngFor="let item of model; let i = index">
        <li *ngIf="!item.separator">
            <!-- Render the top-level item -->
            <a
                [routerLink]="item?.routerLink"
                class="parent-item"
                (click)="toggleTab(i)"
            >
                <i [ngClass]="item.icon"></i>
                {{ item.label | translate }}
            </a>

            <ul *ngIf="(item.items && activeTabIndex == i)">
                <ng-template
                    ngFor
                    let-child
                    let-j="index"
                    [ngForOf]="item.items">
                    <li
                        app-menuitem
                        [item]="child | translateLabel | async"
                        [index]="j"
                        [parentKey]="key"
                        [class]="child.badgeClass"
                    ></li>
                </ng-template>
            </ul>

            <ul *ngIf="item.type != 'h'">
                <ng-template
                    ngFor
                    let-child
                    let-j="index"
                    [ngForOf]="item.items">
                    <li
                        app-menuitem
                        [item]="child | translateLabel | async"
                        [index]="j+100"
                        [parentKey]="key+100"
                        [class]="child.badgeClass"
                    ></li>
                </ng-template>
            </ul>

        </li>
    </ng-container>
</ul>
