.btn-filter-submit-container {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 48px;
}
.btn-filter-submit-container button {
    width: fit-content;
}
.btn-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
}
.field-id {
    opacity: 0.75;
}
.btn-edit {
    gap: 0 !important;
}
li {
    list-style: none;
}

.field-img {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}
.img-container {
    border: 1px solid #eee;
    border-radius: 50%;
    width: 96px;
    height: 96px;
}
img {
    max-width: 100%;
}
